<body>
<div class="page-header">
  <h1 style="color:white">What We Do</h1>
</div>

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="dj.JPG"></div>
  <div class="col-md-8">
   



<p><a style="color:white"> GigBooker is an online booking platform for student-musicians looking to gain exposure outside of their academic community</p>

<p>Lorem ipsum dolor sit amet tellus iaculis imperdiet congue. Et venenatis ridiculus quisque donec dolor. Ipsum ut ligula taciti duis hymenaeos. Et amet eu vitae amet sodales. Augue vel amet.

Ac aliquam ut id vitae urna id est quam. Etiam eu morbi. Nibh mi iste. Nonummy eget ante purus wisi tincidunt elit posuere nibh. Erat ac eget velit quis aliquet sed libero risus est arcu feugiat. Eros porta turpis purus eget orci. Vitae ornare volutpat tellus nulla sit massa at non ut laoreet in. Vestibulum eget vel etiam vitae felis pellentesque quis quis. Nonummy dui id vehicula quam dolor. Commodo sit tincidunt. In consectetuer commodo. Cras sit mus. Eget turpis non. Proin occaecat aliquam volutpat proin faucibus. Euismod vel hac. Libero morbi pellentesque. Eleifend suspendisse lacus sit mi elit. Etiam lacus at fermentum orci amet semper et consectetuer. Penatibus pellentesque at vestibulum ultrices pharetra porta odio pharetra. Lectus cras sed.

Fringilla non cras. Nec non lacinia. Est magna nostra vel nibh nonummy. Fermentum mi risus et nunc consectetuer. Nam ut pede quis lobortis nisl lacus enim rutrum aliquam suscipit aliquam curabitur urna at velit malesuada aliquam. Phasellus odio ipsum nihil egestas mauris. Metus scelerisque massa. Et aperiam velit lorem dolor feugiat. Enim non sit sociosqu nec pellentesque ultrices parturient a. Pharetra quis commodo. Vel euismod erat sodales lectus pede. Cras duis ad libero suspendisse at. Facilisi vivamus lectus. Felis erat scelerisque odio pede urna. Curae varius eget. Amet leo mauris. Id urna nec. Dui lacus non ultricies lorem nunc dui venenatis lacinia. Magna ipsum duis ante nisl vivamus hendrerit tincidunt mollis. Habitant wisi tristique. Ut vel quis lectus a potenti morbi in convallis pretium sit non. Vestibulum phasellus integer. In eu suspendisse amet neque ipsum neque morbi tortor. A pellentesque malesuada elit at augue odio at tempus. Nulla consectetuer vestibulum. </p>