<body>
	<div id="page">
		<div class="container">
		<header id="profile-maine-navigation">
		<div class="container">
			<nav>
				<ul>
					<li data-tour-step="2">
		</div>
		<div id="gig-search-view" style="display: block;">
			<div id="content-header">
				<div clas="filter-bar container" id="gigs-search-filter-bar">
					<div class="row">
						<ul class="filters-container span11" id="gigs-search-filters">
							<li id="gig-location-filter">
								<div class="btn-group">
									<a class="btn dropdown-toggle" data-toggle="dropdown">
										<button type="button" class="btn btn-primary btn-lg" style="width: 250px;">City Search</button>
									</a>
									<ul class="dropdown-menu filter-options">
										<li>
											<fieldset>
												<p>
													<input class="input-large" id="city" name="city" placeholer="city" type="text" autocpmplet="off">
													<select class="inout-medium" id="distance" name="distance">
														<option 
														<option value="50">+ 50 km Radius</option>value="20">+ 20 km Radius</option>
														<option value="50">+ 50 km Radius</option>
														<option value="100">+ 100 km Radius</option>
													</select>
												</p>
											</fieldset>
										</li>
									</ul>
								</div>
							</li>
<div class="container" id="content-body">
	</div>
	<div id="gig-search-results">
		<table class="table table-condensed">
			<tbody>
				<tr>
					<td class="table-image-column">
							<img class="img-circle" src="http://s3-media2.ak.yelpcdn.com/bphoto/kayy3D0A1zW7tJQwDjNOcg/ls.jpg" width="230">
						</a>
					</td>
					<td>
						<a href="/user">
						<h2 style="color:white"><strong>
							Pedro O'hara's
						</strong></h2> 
					</a>
						<p style="color:white">
						134 Main St, Lewiston, ME 04240
						</p>
						<p style="color:white">
						Phone: (207) 783-6200
					</p>
				</td>
				<td>
					<a href="/apps">
						
						<button type="button" class="btn btn-primary btn-lg btn-block" width="80px">Apply</button>
					</tr>
					<tr>
						<td class="table-image-column">
							<img class="img-circle" alt="image responsive" src="http://abacus.bates.edu/pubs/mag/96-Fall/on-off.photo3.jpg" width="230" height="225">
						</a>
					</td>
					<td>
						<a href="/user">
						<h2 style="color:white"><strong>
							Blue Goose Bar & Grill
						</strong></h2> 
					</a>
						<p style="color:white">
						69 Sabattus, Lewiston, ME 04240
						</p>
						<p style="color:white">
						Phone: (207) 783-3287
					</p>
				</td>
				<td>
					<a href="/apps">
						
						<button type="button" class="btn btn-primary btn-lg btn-block">Apply</button>
					</tr>
					</div>
